In [3]:
notes = 5 
i = 1 
j = 1
while i <= notes:
    print(i)
    i += 1
else :
    
    while j < 2 :
        print(j)
        j = j + 1 
    print("no 10 rs notes are available ")

1
2
3
4
5
1
no 10 rs notes are available

In [ ]:
s = "my name is sudhanshu"

In [ ]:
s

'my name is sudhanshu'

In [ ]:
s[2:-6]

' name is sud'

In [ ]:
s[3:10:2]

'nm s'

In [ ]:
s[::-1]

'uhsnahdus si eman ym'

In [ ]:
s[2:-6]

' name is sud'

In [ ]:
s = "sudh"

In [ ]:
s[0]

's'

In [ ]:
s

'my name is sudhanshu'

In [ ]:
for i in s :
    if i == 's':
        print(" i got s as a string ")
    print(i)

m
y

n
a
m
e

i
 i got s as a string
s

 i got s as a string
s
u
d
h
a
n
 i got s as a string
s
h
u

In [ ]:
s

'my name is sudhanshu'

In [ ]:
for i in s :
    if i == "n":
        continue 
    print(i)
else :
    if i == 'u':
        print("last char was u ")
    print("this is a else condtion ")

m
y

a
m
e

i
s

s
u
d
h
a
s
h
u
last char was u
this is a else condtion

In [4]:
s =  "ineuron"
ss = ""
for i in range(len(s)):
    if s[i] == "n":
        continue
    else :
        ss = ss + s[i]

In [5]:
ss

'ieuro'

In [ ]:
len(s)

7

In [ ]:
n = 7 
for i in range(0 ,n):
    for j in range(0 ,i +1):
        print("+ " , end = "")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [37]:
n=9
i=0
while i<9:
    print(" "*(n-i-1) + " *"*(i+1))
    i+=1

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

In [38]:
def pattern(n):
      k = 2*n -2
      for i in range(n,-1,-1):
           for j in range(k,0,-1):
                print(end=" ")
           k = k +1
           for j in range(0, i+1):
                print("*", end=" ")
           print("\r")
 
pattern(1)

* *
 *

In [ ]:
for i in range(7,0,-1):
    print(i)

7
6
5
4
3
2
1

In [39]:
n = int(input('Enter number of rows required: '))

for i in range(n,0,-1):
    for j in range(n-i):
        print(' ', end='') 
    
    for j in range(2*i-1):
        print(' *',end='') 
    print()

 * * * * * * *
  * * * * *
   * * *
    *

In [ ]:
for i in range(8, 0, -1):
    print(i)

8
7
6
5
4
3
2
1

In [ ]:
num = 5
m = 2 * num - 2
for i in range(num, -1, -1):
    for j in range(m, 0, -1):
        print(end=" ")
    m = m + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [ ]:
" "*5

'     '

In [ ]:
n =9
i=0
while i < n :
    print(' '*(n-i-1) + '* '*(i+1))
    i +=1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [ ]:
i=1
k=1 #for printing starts with the increament of 2

while i<=5:
    b=1
    while b<=5-i:
        print(' ',end='')
        b=b+1
        
    j=1
    while j<=k:
        print('*', end='')
        j=j+1
    print()
    
    k=k+2
    
    i=i+1

    *
   ***
  *****
 *******
*********

In [ ]:
userInput = int(input("Please enter the amount of rows: "))

row = 0
while(row < userInput):
    row += 1
    spaces = userInput - row

    spaces_counter = 0
    while(spaces_counter < spaces):
        print(" ", end='')
        spaces_counter += 1

    num_stars = 2*row-1
    while(num_stars > 0):
        print("*", end='')
        num_stars -= 1

    print()
print("**iNeuron-FSDS**")

Please enter the amount of rows: 7
      *
     ***
    *****
   *******
  *********
 ***********
*************
**iNeuron-FSDS**

In [ ]:
l = list()

In [ ]:
name = "sudh"
phno = 543535345
addr = "sdfsff"

name , phno , addr = "sudh " , 54353453,"fgfd"

In [ ]:
l = ["sudh" , 34535,"sfsfsafa", True, 45+8j , [3,5,6,"dfg"],6.787]

len(l)

7

In [ ]:
range(10)

range(0, 10)

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for  i in range(4,10):
    print(i)

4
5
6
7
8
9

In [ ]:
l[80 :3:1]

[]

In [ ]:
for i in l :
    if type(i) == list:
        n = 0
        for  j in i :
            if type(j) == int :
                n = n + j
        print(n)
                
        print(type(j))

14
<class 'str'>

In [ ]:
type(l)

list

In [ ]:
l1 = []
type(l1)

list

In [ ]:
l2 = list()
type(l2)

list

In [ ]:
type(l1)

list

In [ ]:
l[0]

'sudh'

In [ ]:
l[1]

34535

In [ ]:
l[2]

'sfsfsafa'