In [1]:
a =1 
b =2 
a+b

3

In [16]:
def add(num1,num2):
    return num1 + num2

In [7]:
add(4,5)+5

14

In [10]:
def mult(num1,num2):
    print(num1 * num2)

In [12]:
mult(4,4) +4

16

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [14]:
type(mult(4,5)) # giving us the NoneType

20

NoneType

In [19]:
type(add(14,53)) # giving us the int

int

In [4]:
add(14,53)

67

In [5]:
add  # giving us the object with 2 args

In [20]:
def test1(x,y,z):
    return x+y

In [21]:
test1(2,4) # we have to give all the parameters

TypeError: test1() missing 1 required positional argument: 'z'

In [23]:
def test2(n,m):
    return n*10 ,m*30 , m+n

In [24]:
test2(2,3)

(20, 90, 5)

In [26]:
type(test2(2,3))

tuple

In [27]:
a , b, c  = test2(2,3)

In [29]:
print (a,b,c)

20 90 5

In [34]:
c,v,_ = test2(4,5)  # _ is the placeholder

In [31]:
c

40

In [32]:
v

150

In [33]:
_

9

In [35]:
def test3(n):
    return n*2

In [36]:
test3([4,5,2,2]) # it will repeat

[4, 5, 2, 2, 4, 5, 2, 2]

In [37]:
test3(2)

4

In [38]:
test3((3,4,2))

(3, 4, 2, 3, 4, 2)

In [46]:
def test4(n):
    return n,n*3

In [40]:
test4([2,3,1])

([2, 3, 1], [2, 3, 1, 2, 3, 1, 2, 3, 1])

In [51]:
r = test4([2,3,1])

In [43]:
type(r)

tuple

In [52]:
r

([2, 3, 1], [2, 3, 1, 2, 3, 1, 2, 3, 1])

In [55]:
r[1]

[2, 3, 1, 2, 3, 1, 2, 3, 1]

In [59]:
def test5(n,m=2): # default value of m
    return n+m

In [60]:
test5(4)

6

In [62]:
test5(4,3)  # it can also overrite

7

In [63]:
def boolx(x= True, y=False): 
    return x+y

In [66]:
boolx()

1

In [67]:
boolx(False)

0

In [68]:
boolx(True,1)

2

In [70]:
def travel(bike = True, Car = False):
    plan_travel = bike or Car
    return bike,Car,plan_travel

In [71]:
travel()

(True, False, True)

In [72]:
travel(False)

(False, False, False)

In [73]:
travel(Car = True)

(True, True, True)

In [82]:
travel(_,True)

(2, True, 2)

In [83]:
_

2

In [81]:
_ = 2

In [84]:
def test6(*args):  # passsing multiple data
    return args

In [85]:
test6("Madarwala",34222, 43222,42,4211)

('Madarwala', 34222, 43222, 42, 4211)

In [86]:
test6([3,4,2,1],[4,2,1,1],[5,3,1,"sufh"])

([3, 4, 2, 1], [4, 2, 1, 1], [5, 3, 1, 'sufh'])

In [127]:
def test7(*args):
    club = []
    for i in args:
        club.append(i)
    return club

In [128]:
test7([3,4,2],[5,2,3])

[[3, 4, 2], [5, 2, 3]]

In [129]:
test7([3,4,2],[5,2,3],[4,2,1],["Hussain",3,1],[True])

[[3, 4, 2], [5, 2, 3], [4, 2, 1], ['Hussain', 3, 1], [True]]

In [109]:
lst = [[3,4,2],[5,2,3],[4,2,1],["Hussain",3,1],[True]]

In [110]:
type(lst)

list

In [111]:
lst

[[3, 4, 2], [5, 2, 3], [4, 2, 1], ['Hussain', 3, 1], [True]]

In [119]:
for i in lst:
    # club2= []
    # club2.append(i)
    print(i)

[3, 4, 2]
[5, 2, 3]
[4, 2, 1]
['Hussain', 3, 1]
[True]

In [123]:
i=0
z =len(lst)
print(z)
# while i<z:
#     print(lst[i])
#     i+=1

5

In [136]:
def test8(*args):
    club2=[]
    for i in args:
        club2= i+club2
    return club2

In [131]:
lst = [[3,4,2],[5,2,3],[4,2,1],["Hussain",3,1],[True]]

In [141]:
test8([3,4,2],[5,2,3],[4,2,1],["Hussain",3,1],[True])

[True, 'Hussain', 3, 1, 4, 2, 1, 5, 2, 3, 3, 4, 2]

In [138]:
def test9(*args):
    club3=[]
    for i in args:
        club3.append(i)
    return club3

In [140]:
test9([3,4,2],[5,2,3],[4,2,1],["Hussain",3,1],[True])

[[3, 4, 2], [5, 2, 3], [4, 2, 1], ['Hussain', 3, 1], [True]]

In [158]:
def test10(*args):
    club4=[]
    for i in args:
        if type(i) == list:
            club4 = club4+i
    return club4

In [161]:
test10([3,4,2],[5,2,3],[4,2,1],["Hussain",3,1],[True],"Test",33,)

[3, 4, 2, 5, 2, 3, 4, 2, 1, 'Hussain', 3, 1, True]

In [162]:
def test11(**kwargs):
    return kwargs

In [163]:
test11(4,2,5)

TypeError: test11() takes 0 positional arguments but 3 were given

In [170]:
test11(key1="value1", key2="value2",a=10,b=20,key3="value3",c=[3,1,3,4,1],d=True)

{'key1': 'value1',
 'key2': 'value2',
 'a': 10,
 'b': 20,
 'key3': 'value3',
 'c': [3, 1, 3, 4, 1],
 'd': True}

class assignment

In [180]:
lst= ["Hussain",34,23,23,4.2,3.4,42,False]

In [184]:
strn = []
bools = [] 
floats = []
lists= []
ints = []

for i in lst:
    if type(i)==str:
        strn.append(i)
    elif type(i)==bool:
        bools.append(i)
    elif type(i)==int:
        ints.append(i)    
    elif type(i)==list:
        lists.append(i)  
    elif type(i)==float:
        floats.append(i)
result= [strn]+[bools]+[ints]+[lists]+[floats]
print(result)

[['Hussain'], [False], [34, 23, 23, 42], [], [4.2, 3.4]]

In [200]:
def func2(*args, **kwargs):
    l = [i for i in args]
    d= []
    for i in kwargs.items():
        
        return(l,d)

In [201]:
func2(["Hussain",3,4,5],3,3,4,a=23)

([['Hussain', 3, 4, 5], 3, 3, 4], [])

In [ ]:
lst1 = [3,5,2,41]

In [233]:
def func3(*args,**kwargs):
    d=[i[1] for i in kwargs.items() if type(i[1]==list)]
    return d

In [234]:
func3([3,4,5,2,1],[4,4,2,],a=10,b=30)

[10, 30]

In [235]:
def func4(*args,**kwargs):
    d= []
    for i in kwargs.values():
        print(i)

In [236]:
func4([3,4,5,2,1],[4,4,2,],a=10,b=30)

10
30

In [6]:
def func5(*args):
    dt={}

    for i in args:
        if type(i)in dt:
            dt[type(i)].append(i)
        else:
            dt[type(i)]=[i]
    return dt

In [7]:
func5(1,3,4,5,[5,2,5],(45,55,3),True,False,6.0,4.5)

{int: [1, 3, 4, 5],
 list: [[5, 2, 5]],
 tuple: [(45, 55, 3)],
 bool: [True, False],
 float: [6.0, 4.5]}

In [4]:

# Breakdown
def func6(*args):
    dt={}

    for i in args:
        if type(i)in dt:
            dt[type(i)].append(i)
        else:
            dt[type(i)]=[i]
    return dt

In [8]:
func6(1,3,4,5,[5,2,5],(45,55,3),True,False,6.0,4.5,13.42)

{int: [1, 3, 4, 5],
 list: [[5, 2, 5]],
 tuple: [(45, 55, 3)],
 bool: [True, False],
 float: [6.0, 4.5, 13.42]}

In [17]:
lst12 = [1,3,4,5,[5,2,5],(45,55,3),True,False,6.0,4.5,13.42]
dt = {int:[123],bool:[False]}
for i in lst12:
    if type(i) in dt:
        print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'bool'>

In [52]:
dict2= {int:[233],str:["Sample"],bool:[True],list:[2,42,2]}

In [53]:
dict2

{int: [233], str: ['Sample'], bool: [True], list: [2, 42, 2]}

In [60]:
if int in dict2:
    dict2[int].append(344)

In [61]:
dict2

{int: [233, [344], 344], str: ['Sample'], bool: [True], list: [2, 42, 2]}