In [1]:
# Tuples
t= (1,3,4)

In [4]:
type(t)

tuple

In [5]:
t1 = (234, "Sesa", 5.2,True)

In [6]:
l1 = [234, "Sesa", 5.2,True]

In [9]:
t1[1:3]

('Sesa', 5.2)

In [10]:
t1[1] = "Sam"

TypeError: 'tuple' object does not support item assignment

In [11]:
l1[1] = "sam"

In [12]:
t2=("test",3,6,4.5)

In [13]:
t1+t2

(234, 'Sesa', 5.2, True, 'test', 3, 6, 4.5)

In [14]:
t2*3

('test', 3, 6, 4.5, 'test', 3, 6, 4.5, 'test', 3, 6, 4.5)

In [15]:
6 in t2

True

In [16]:
max(t2)

TypeError: '>' not supported between instances of 'int' and 'str'

In [17]:
t3=(4,5,6,2,5,6,2)

In [18]:
max(t3)

6

In [23]:
t3.index(5)

1

In [26]:
t3.count(5)

2

In [28]:
min(t3)

2

In [29]:
max(t3)

6

In [30]:
t1

(234, 'Sesa', 5.2, True)

In [32]:
l4 = list(t1)

In [33]:
l4

[234, 'Sesa', 5.2, True]

In [34]:
l4.insert(4,60)

In [35]:
l4

[234, 'Sesa', 5.2, True, 60]

In [37]:
tuple(l4)

(234, 'Sesa', 5.2, True, 60)

In [41]:
t6= ((1,3,4,2),(1,3,4),(3,1,5),(1,6,1),[6,2,1])

In [43]:
t6

((1, 3, 4, 2), (1, 3, 4), (3, 1, 5), (1, 6, 1), [6, 2, 1])

In [51]:
type(t6)

tuple

In [45]:
t6[4][1]

2

In [55]:
for i in t6:
    # print(i)
    if type(i) == tuple:
        print(i[0])
        print("sampe")

1
sampe
1
sampe
3
sampe
1
sampe

In [56]:
t1

(234, 'Sesa', 5.2, True)

In [57]:
t2

('test', 3, 6, 4.5)

In [59]:
if len(t1)==len(t2):
    print("its Same")
else:
    print('Not same')

its Same

In [60]:
tup = t1+t2+t3

In [61]:
tup

(234, 'Sesa', 5.2, True, 'test', 3, 6, 4.5, 4, 5, 6, 2, 5, 6, 2)

In [62]:
234 in tup

True

In [69]:
usrinp = input("Enter the input: ")
if usrinp in tup:
    print("{} is available".format(usrinp))
else:
    print("{} is not available".format(usrinp))

tests is not available

In [70]:
tup

(234, 'Sesa', 5.2, True, 'test', 3, 6, 4.5, 4, 5, 6, 2, 5, 6, 2)

In [71]:
l1

[234, 'sam', 5.2, True]

In [72]:
del(t2)

In [73]:
t2

NameError: name 't2' is not defined

In [74]:
l1

[234, 'sam', 5.2, True]

###SET  Unordered collection of unique elements

x=set()

In [77]:
x=set()

type(x)

set

In [80]:
list2= [34,5,2,5,2,4,34,5,3,2,4,2,5,"Hussain","samle","Hussain","hussain"]

In [82]:
s= set(list2)

In [1]:
s1 = {3,5,6,7,1,3}

In [3]:
type(s1)

set

In [4]:
s1[2]

TypeError: 'set' object is not subscriptable

In [83]:
for i in s:
    print(i)

hussain
34
3
2
4
5
samle
Hussain

In [84]:
s[0]

TypeError: 'set' object is not subscriptable

In [85]:
sets= set()

In [86]:
sets.add(45)

In [87]:
sets

{45}

In [89]:
sets.add("Hussain")

In [90]:
sets.add([2,3,4,5]) # unable to add list datatype

TypeError: unhashable type: 'list'

In [91]:
sets.add((2,3,4,5))

In [92]:
sets

{(2, 3, 4, 5), 45, 'Hussain'}

In [93]:
sets.add({5,3,1,5})

TypeError: unhashable type: 'set'

In [95]:
sets.remove(45)

In [96]:
sets

{(2, 3, 4, 5), 'Hussain'}

In [97]:
sets.clear()

In [98]:
sets

set()

In [99]:
sets=(4,5,6,2,4,1)

In [100]:
sets

(4, 5, 6, 2, 4, 1)

In [101]:
sets

(4, 5, 6, 2, 4, 1)

In [5]:
sets1= set((4,1,2,5,6,2,6,8))

In [6]:
sets1

{1, 2, 4, 5, 6, 8}

In [8]:
type(sets1)

set

In [9]:
sets1

{1, 2, 4, 5, 6, 8}

In [11]:
sets1.add({"key1":"Value1"})

TypeError: unhashable type: 'dict'

In [108]:
sets+sets1

TypeError: can only concatenate tuple (not "set") to tuple

In [109]:
sets*sets1

TypeError: can't multiply sequence by non-int of type 'set'

In [110]:
sets

(4, 5, 6, 2, 4, 1)

In [115]:
type(sets1)

set

In [116]:
sets1[3] = 3

TypeError: 'set' object does not support item assignment

#Dictionary key will be unique

In [117]:
x={}

In [209]:
hus = dict()

In [210]:
type(hus)

dict

In [118]:
type(x)

dict

In [119]:
x1={34,65}

In [120]:
type(x1)

set

In [136]:
x2= {"name":"Hussain", "Surname":"Madarwala","Surname1":"Madarwala","cars":["BMW","Buggati","TATA"],"isAdult":True,"passwords":("Abc@gmail","BGNbgn#344"),"address":{"Landmark":"Hatimi hills","Pincode":401148,"FlatNo":"A/101","isRegistered":True}}

In [132]:
type(x2)

dict

In [137]:
x2

{'name': 'Hussain',
 'Surname': 'Madarwala',
 'Surname1': 'Madarwala',
 'cars': ['BMW', 'Buggati', 'TATA'],
 'isAdult': True,
 'passwords': ('Abc@gmail', 'BGNbgn#344'),
 'address': {'Landmark': 'Hatimi hills',
  'Pincode': 401148,
  'FlatNo': 'A/101',
  'isRegistered': True}}

In [138]:
x3 = {["Sample","tried"]:533}  # key as list not allowed

TypeError: unhashable type: 'list'

In [140]:
x3={{"Keys":"key1"}} # key as dict is not allowed

TypeError: unhashable type: 'dict'

In [141]:
x2

{'name': 'Hussain',
 'Surname': 'Madarwala',
 'Surname1': 'Madarwala',
 'cars': ['BMW', 'Buggati', 'TATA'],
 'isAdult': True,
 'passwords': ('Abc@gmail', 'BGNbgn#344'),
 'address': {'Landmark': 'Hatimi hills',
  'Pincode': 401148,
  'FlatNo': 'A/101',
  'isRegistered': True}}

In [146]:
x2["cars"][1]

'Buggati'

In [148]:
type(x2["passwords"])

tuple

In [150]:
x2["address"]["Pincode"]

401148

In [151]:
x4={"sample":"key"}

In [152]:
x3+x4

NameError: name 'x3' is not defined

In [153]:
x3*3

NameError: name 'x3' is not defined

In [155]:
x4

{'sample': 'key'}

In [157]:
x4["sample"] = "Test"

In [217]:
x4

{'sample': 'Test'}

In [219]:
list(x4)

['sample']

In [160]:
x2.keys()

dict_keys(['name', 'Surname', 'Surname1', 'cars', 'isAdult', 'passwords', 'address'])

In [163]:
"isAdult" in x2

True

In [164]:
x2

{'name': 'Hussain',
 'Surname': 'Madarwala',
 'Surname1': 'Madarwala',
 'cars': ['BMW', 'Buggati', 'TATA'],
 'isAdult': True,
 'passwords': ('Abc@gmail', 'BGNbgn#344'),
 'address': {'Landmark': 'Hatimi hills',
  'Pincode': 401148,
  'FlatNo': 'A/101',
  'isRegistered': True}}

In [165]:
"A/101" in x2

False

In [169]:
for i in x2:
    print(i)

name
Surname
Surname1
cars
isAdult
passwords
address

In [171]:
for i in x2.keys():
    print(x2[i])

Hussain
Madarwala
Madarwala
['BMW', 'Buggati', 'TATA']
True
('Abc@gmail', 'BGNbgn#344')
{'Landmark': 'Hatimi hills', 'Pincode': 401148, 'FlatNo': 'A/101', 'isRegistered': True}

In [172]:
for i in x2.keys():
    print(type(x2[i]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'list'>
<class 'bool'>
<class 'tuple'>
<class 'dict'>

In [173]:
x2.items()

dict_items([('name', 'Hussain'), ('Surname', 'Madarwala'), ('Surname1', 'Madarwala'), ('cars', ['BMW', 'Buggati', 'TATA']), ('isAdult', True), ('passwords', ('Abc@gmail', 'BGNbgn#344')), ('address', {'Landmark': 'Hatimi hills', 'Pincode': 401148, 'FlatNo': 'A/101', 'isRegistered': True})])

In [177]:
for i in x2.items():
    print(i[1])

Hussain
Madarwala
Madarwala
['BMW', 'Buggati', 'TATA']
True
('Abc@gmail', 'BGNbgn#344')
{'Landmark': 'Hatimi hills', 'Pincode': 401148, 'FlatNo': 'A/101', 'isRegistered': True}

In [179]:
len(x2)

7

In [225]:
# Activity:
# Q1

# userint= input("Enter the sentece")

# data_list 
data_list = userint.split(' ')
print(data_list)

['The', 'Dowry', 'system', 'is', 'evil', 'in', 'society.', 'It', 'has', 'reduced', 'the', 'sacred', 'affair', 'of', 'marriage', 'to', 'a', 'business', 'deal.', 'Brides', 'are', 'treated', 'as', 'a', 'marketable', 'commodity.', 'The', 'parents', 'of', 'the', 'brides', 'are', 'often', 'put', 'under', 'inhuman', 'pressure', 'for', 'a', 'handsome', 'dowry.']

In [228]:
remdup = set(data_list)

In [229]:
remdup

{'Brides',
 'Dowry',
 'It',
 'The',
 'a',
 'affair',
 'are',
 'as',
 'brides',
 'business',
 'commodity.',
 'deal.',
 'dowry.',
 'evil',
 'for',
 'handsome',
 'has',
 'in',
 'inhuman',
 'is',
 'marketable',
 'marriage',
 'of',
 'often',
 'parents',
 'pressure',
 'put',
 'reduced',
 'sacred',
 'society.',
 'system',
 'the',
 'to',
 'treated',
 'under'}

In [231]:
my_dict= {}
for i in remdup:
    my_dict[i]="Hussain"
print(my_dict)

# or
# dict = dict.fromkeys(setdata,"hussain")

{'marriage': 'Hussain', 'of': 'Hussain', 'has': 'Hussain', 'business': 'Hussain', 'Brides': 'Hussain', 'the': 'Hussain', 'for': 'Hussain', 'pressure': 'Hussain', 'affair': 'Hussain', 'parents': 'Hussain', 'handsome': 'Hussain', 'The': 'Hussain', 'treated': 'Hussain', 'marketable': 'Hussain', 'reduced': 'Hussain', 'in': 'Hussain', 'Dowry': 'Hussain', 'deal.': 'Hussain', 'often': 'Hussain', 'sacred': 'Hussain', 'society.': 'Hussain', 'put': 'Hussain', 'inhuman': 'Hussain', 'dowry.': 'Hussain', 'It': 'Hussain', 'are': 'Hussain', 'is': 'Hussain', 'system': 'Hussain', 'under': 'Hussain', 'a': 'Hussain', 'commodity.': 'Hussain', 'brides': 'Hussain', 'evil': 'Hussain', 'to': 'Hussain', 'as': 'Hussain'}

In [232]:
type(my_dict)

dict

In [233]:
my_dict

{'marriage': 'Hussain',
 'of': 'Hussain',
 'has': 'Hussain',
 'business': 'Hussain',
 'Brides': 'Hussain',
 'the': 'Hussain',
 'for': 'Hussain',
 'pressure': 'Hussain',
 'affair': 'Hussain',
 'parents': 'Hussain',
 'handsome': 'Hussain',
 'The': 'Hussain',
 'treated': 'Hussain',
 'marketable': 'Hussain',
 'reduced': 'Hussain',
 'in': 'Hussain',
 'Dowry': 'Hussain',
 'deal.': 'Hussain',
 'often': 'Hussain',
 'sacred': 'Hussain',
 'society.': 'Hussain',
 'put': 'Hussain',
 'inhuman': 'Hussain',
 'dowry.': 'Hussain',
 'It': 'Hussain',
 'are': 'Hussain',
 'is': 'Hussain',
 'system': 'Hussain',
 'under': 'Hussain',
 'a': 'Hussain',
 'commodity.': 'Hussain',
 'brides': 'Hussain',
 'evil': 'Hussain',
 'to': 'Hussain',
 'as': 'Hussain'}

In [243]:
t1 = tuple(my_dict.values())

In [244]:
t1

('Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain',
 'Hussain')

In [245]:
l1 = list(my_dict.keys())

In [246]:
l1

['marriage',
 'of',
 'has',
 'business',
 'Brides',
 'the',
 'for',
 'pressure',
 'affair',
 'parents',
 'handsome',
 'The',
 'treated',
 'marketable',
 'reduced',
 'in',
 'Dowry',
 'deal.',
 'often',
 'sacred',
 'society.',
 'put',
 'inhuman',
 'dowry.',
 'It',
 'are',
 'is',
 'system',
 'under',
 'a',
 'commodity.',
 'brides',
 'evil',
 'to',
 'as']

In [257]:
d= {"name": "Hussain","age":25,"course":"Full Stack Data Science"}

In [254]:
for i in d:
    if i =="age":
        if d[i] < 25:
            print("Below marraige age")
        else:
            d[i] = 26
            print("Get Married")

Get Married

In [258]:
d

{'name': 'Hussain', 'age': 25, 'course': 'Full Stack Data Science'}

In [267]:
courselst=[]
for i in d:
    if i =="course":
        if len(d[i])>5:
            courselst = d[i].split(" ")
            d[i] = courselst
        print(courselst)

['Full', 'Stack', 'Data', 'Science']

In [268]:
d

{'name': 'Hussain', 'age': 25, 'course': ['Full', 'Stack', 'Data', 'Science']}

In [269]:
dict2 = {}

for i in range(10):
    dict2[i]= i*3

In [270]:
dict2

{0: 0, 1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27}

In [273]:
{i:i*3 for i in range(10)}

{0: 0, 1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27}